body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.about, .projects, .contact {
    margin: 20px;
}

.projects {
    border-top: 2px solid #3498db;
    border-bottom: 2px solid #3498db;
    padding: 20px 0;
}

.project {
    margin-bottom: 10px;
}

h2, h3 {
    color: #3498db;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
